extends ../layouts/main-layout.pug

block content
    .row.mt-2
        .col-4
            img(src=`/image/${product.image}` style="width: 200px" alt=`${product.description}`)
            .img-fluid
        .col-6.ml-2.mt-4
            h2 #{product.name}
            hr
            p #{product.description}
            hr
            p Fiyat: #{product.price}
    .mb-4