extends ../layouts/main-layout.pug

block styles
  link(rel="stylesheet" href="/css/forms.css")

block content
  form.container.mt-4(action='/admin/products', method='POST')

    input(type="hidden" name="id" value=`${product._id}`)

    .form-group.row
      label.col-sm-2.col-form-label(for='name') İsim
      .col-sm-10
        input#name.form-control(type='text' value=`${product.name}` name='name')

    .form-group.row
      label.col-sm-2.col-form-label(for='price') Fiyat
      .col-sm-10
        input#price.form-control(type='text' value=`${product.price}` name='price')

    .form-group.row
      label.col-sm-2.col-form-label(for='imageUrl') Resim
      .col-sm-10
        input#imageUrl.form-control(type='text' value=`${product.image}` name='imageUrl')
    
    .form-group.row
      label.col-sm-2.col-form-label(for='categoryid') Kategori
      .col-sm-10
        each category in categories
          input(type="checkbox" name="categoryids" value=`${category._id}` checked = category.selected)
          | #{category.name} 

    .form-group.row
      label.col-sm-2.col-form-label(for='description') Açıklama
      .col-sm-10
        input#description.form-control(type='text' value=`${product.description}` name='description')

    .form-group.row
      .sol-sm-10.offset-sm-2
         input.btn.btn-warning.ml-3(type='submit', value='Kaydet')
  .mb-4